# LLM Service 
JIUWEN_GRAPH_MEM_LLM_URL="http://localhost:11451/v1/chat/completions"
JIUWEN_GRAPH_MEM_LLM_KEY="sk-*****************************"
JIUWEN_GRAPH_MEM_LLM_MODEL="qwen3-8b"
JIUWEN_GRAPH_MEM_LLM_CONFIG={"temperature": 0.6, "timeout": 60, "structured_output": true}

# Embedding Service
JIUWEN_GRAPH_MEM_EMBED_URL="http://localhost:11450/v1/embeddings"
JIUWEN_GRAPH_MEM_EMBED_KEY="sk-*****************************"
JIUWEN_GRAPH_MEM_EMBED_MODEL="qwen3-embedding-8b"
JIUWEN_GRAPH_MEM_EMBED_CONFIG={"dim": 2048, "timeout": 30}

# Reranker Service
JIUWEN_GRAPH_MEM_RERANK_ENABLE=true
JIUWEN_GRAPH_MEM_RERANK_MODE="standard"  # standard - 支持vLLM/Jina AI/Cohort；aliyun - 阿里云
JIUWEN_GRAPH_MEM_RERANK_URL="http://localhost:11452/v1/rerank"
JIUWEN_GRAPH_MEM_RERANK_KEY="sk-*****************************"
JIUWEN_GRAPH_MEM_RERANK_MODEL="qwen3-reranker-0.6b"
JIUWEN_GRAPH_MEM_RERANK_CONFIG={"timeout": 60}

# Database Endpoint
LOCAL_ENDPOINT="192.168.2.2:19530"
