LLM_SSL_VERIFY=False

SERPER_API_KEY=""
BOCHAAI_API_KEY=""

# LLM API
DS_MODEL_NAME=""
DS_BASE_URL=""
DS_API_KEY=""

# VLM API
VLM_MODEL_NAME=""
VLM_BASE_URL=""
VLM_API_KEY=""

EMBEDDING_MODEL_NAME=""
EMBEDDING_BASE_URL=""
EMBEDDING_API_KEY=""