DB_TYPE=sqlite
OPS_SQLITE_DB=ops.db
AGENT_SQLITE_DB=agent.db

# =============================================================================
# PLUGIN SERVICE CONFIGURATION
# =============================================================================

# Restfulapi need check ssl verify
RESTFUL_SSL_VERIFY=False
RESTFUL_SSL_CERT=False

# Mivlus Configuration
MILVUS_HOST="localhost"
MILVUS_PORT="19530"
MILVUS_COLLECTION_NAME="memory_vector"
MILVUS_TOKEN=""

# Workflow Timeout
WORKFLOW_EXECUTE_TIMEOUT=300

# Embedding config
EMBEDDING_MODEL_DIMENTION=1024
EMBED_API_BASE=""
EMBED_MODEL_NAME=""
EMBED_API_KEY=""
EMBED_TIMEOUT=5
EMBED_MAX_RETRIES=1
EMBED_SSL_VERIFY=False
EMBED_SSL_CERT=False


API_BASE=''
API_KEY=''
MODEL_NAME='Qwen/Qwen3-8B'